body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#111;
color:white;
text-align:center;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:linear-gradient(135deg,#4c6ef5,#15aabf);
color:white;
text-align:center;
padding:80px 20px;
}

section{
padding:60px;
text-align:center;
}

.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:white;
padding:20px;
width:150px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.projects{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.project-card{
background:white;
width:250px;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.project-card img{
width:100px;
border-radius:10px;
}

.btn{
display:inline-block;
background:#4c6ef5;
color:white;
padding:10px 15px;
margin-top:10px;
text-decoration:none;
border-radius:5px;
}

.gallery{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
margin-top:30px;
}

.gallery img{
width:300px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

